
.custom_messagebox_overlay {
    background-color    : rgba(220, 240, 175, 0.5);
    border              : 10px solid rgba(150, 190, 85, 0.6);
}
.custom_messagebox {
    background-color    : #ddf0b0;
    border              : 1px solid #99bb55;
    border-radius       : 5px;
}
.custom_messagebox .messagebox_title,
.custom_messagebox .messagebox_buttons {
    background-color    : #ccea88;
}
.custom_messagebox .messagebox_buttons button {
    background-color    : #ddf0b0;
    border-radius       : 5px;
}